#!/bin/sh
docker run --rm --publish=4000:4000 -v /data:/data --entrypoint /bin/transverse/metadata preetamjinka/transverse:{{build_sha}} \
  -data-dir=/data/transverse-metadata \
  -listen=0.0.0.0:4000 \
  -token={{metadata_token}} \
  -s3-key={{s3_key}} \
  -s3-secret={{s3_secret}} \
  -s3-region={{s3_region}} \
  -s3-endpoint={{s3_endpoint}} \
  2>&1
