#!/bin/sh
exec /home/ubuntu/bin/transverse-metadata \
  -data-dir=/data/transverse-metadata \
  -listen=localhost:4000 \
  {% if metadata_peer is defined %}-peer={{metadata_peer}}{% endif %} \
  -token={{metadata_token}} \
  2>&1
