{{- define "index" -}}
{{- template "header" . -}}

<div class="tv-landing-header-img">
</div>
<div class="tv-landing-header-content">
  <h1 class="tv-landing-header"><span>Transverse</span> tells you when you’re going to reach your goals.</h1>
  <div class="tv-get-started-button-container">
    <a class="pure-button pure-button-primary" href="/register">Get started</a>
  </div>
</div>

<div class="tv-landing-details">
  <div class="pure-g tv-landing-details-section">
    <div class="pure-u-1 pure-u-sm-2-3">
      <h2>How it works</h2>
      <p>Create a goal, set a target, and add some data. Transverse then uses time series models to forecast your progress and calculate ETAs.</p>
    </div>
    <div class="pure-u-1 pure-u-sm-1-3">
      <img src="{{ .CDNDomain }}/img/landing-forecast.png"/>
    </div>
  </div>

  <div class="pure-g tv-landing-details-section">
    <div class="pure-u-1 pure-u-sm-2-3">
      <h2>Track anything</h2>
      <p>You can create a goal for anything you can get a measurement from. Examples include reading progress, typing speed, running times, and anything else you can track on a daily basis.</p>
    </div>
    <div class="pure-u-1 pure-u-sm-1-3">
      <img src="{{ .CDNDomain }}/img/landing-screenshot.png"/>
    </div>
  </div>

  <div class="pure-g tv-landing-details-section">
    <div class="pure-u-1 pure-u-sm-2-3">
      <h2>Get started</h2>
      <p>Either <a href="/register">register</a> a new account or <a href="/login">sign in</a>.</p>
    </div>
  </div>
</div>

<div style="clear: both"></div>
{{- template "footer" . -}}
{{- end -}}
