body {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  padding: 0;
  margin: 0;
  font-family: "chronica_pro", Verdana, sans-serif;
  color: #333;
}

a {
  color: #0075ed;
}

.tv-menu {
  background-color: black;
  color: white;
}

.tv-menu-top {
  padding: 16px;
}

.tv-site-logo a {
  color: white;
  text-decoration: none;
}

.tv-menu h1 {
  margin: 0;
  line-height: 32px;
  font-size: 20px;
  display: inline-block;
}

/* Hamburger menu icon */
.tv-hamburger {
  display: inline-block;
  cursor: pointer;
  float: right;
  margin: 5px 0;
}

.tv-hamburger-bar1, .tv-hamburger-bar2 {
  width: 22px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  transition: 0.5s;
  border-radius: 3px;
}

#tv-dropdown-hamburger.active .tv-hamburger-bar1 {
  -webkit-transform: rotate(320deg) translate(-5.5px, 0) ;
  transform: rotate(320deg) translate(-5.5px, 0) ;
}

#tv-dropdown-hamburger.active .tv-hamburger-bar2 {
  -webkit-transform: rotate(45deg) translate(-5.5px, 0) ;
  transform: rotate(45deg) translate(-5.5px, 0) ;
}

#tv-dropdown-items {
  display: none;
  background-color: #161A19;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 32px;
}

#tv-dropdown-items.active {
  display: inherit;
  box-shadow: inset rgba(0, 0, 0, 0.8) 0 0 10px;
}

.tv-menu-items {
  display: none;
}

.tv-menu-items ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.tv-menu-items ul li {
  display: inline-block;
  padding: 0 10px;
  margin: 0;
}

#tv-dropdown-items ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

#tv-dropdown-items ul li {
  padding: 0;
  margin: 0;
}

#tv-dropdown-items ul li a {
  color: white;
  text-decoration: none;
}

#tv-dropdown-items .tv-login-info {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.tv-menu-items ul li a {
  color: white;
  text-decoration: none;
}

.container {
  padding: 16px 16px;
}

.tv-page-title {
  font-weight: 300;
  font-size: 36px;
  line-height: 1;
  padding: 0;
  margin: 0 0 1rem 0;
}

.tv-goal-list-item {
  margin-bottom: 0.5rem;
}

.tv-goal-list-name {
  color: #0075ed;
  font-size: 20px;
  text-decoration: none;
}

.tv-list-created-updated {
  color: #9b9b9b;
  font-size: 12px;
  display: inline-block;
  margin-right: 1rem;
}

.tv-add-another-goal-button {
  margin-top: 1rem;
}

.tv-delete-button {
  background: rgb(202, 60, 60);
  color: white;
}

.tv-goal-title {
  font-weight: 300;
  font-size: 36px;
  line-height: 1;
  padding: 0;
  margin: 0 0 3px 0;
}

hr.tv-section-separator {
  margin: 1rem auto;
  width: 50%;
  border: none;
  height: 1px;
  background-color: #eee;
}

.tv-goal-updated {
  color: #c3c3c3;
  font-size: 13px;
}

.tv-goal-details-section-title {
  font-weight: 300;
  font-size: 26px;
  margin: 0 0 0.5rem 0;
}

.tv-summary-label {
  color: #9b9b9b;
  font-size: 0.8rem;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.align-middle {
  text-align: center;
}

.tv-landing-section-heading {
  font-weight: 300;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

footer {
  color: #999;
  font-size: 11px;
  text-align: center;
}

footer a {
  color: #555;
}

.tv-message-bubble {
  border-style: solid;
  border-width: 2px 0;
  padding: 1rem;
  text-align: center;
  font-size: 13px;
  color: #555;
}

.tv-message-bubble-level {
  text-transform: uppercase;
}

.tv-info {
  border-color: #3b9cff;
}

.tv-info .tv-message-bubble-level {
  color: #3b9cff;
}

.tv-success {
  border-color: #67bf4a;
}

.tv-success .tv-message-bubble-level {
  color: #67bf4a;
}

.tv-warning {
  border-color: #f2c339;
}

.tv-warning .tv-message-bubble-level {
  color: #f2c339;
}

.tv-error {
  border-color: #de3232;
}

.tv-error .tv-message-bubble-level {
  color: #de3232;
}

.tv-no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#hw-widget {
  display: inline-block;
  height: 22px;
}

#HW_badge {
  line-height: 18px;
}

@media screen and (min-width: 48em) {
  .app-container {
    width: 48em;
    margin: 0 auto;
  }

  /* Hide hamburger menu icon */
  .tv-hamburger {
    display: none;
  }

  .tv-menu-items {
    display: inline-block;
    float: right;
    line-height: 32px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
  }
}
